* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo img {
  width: 100px;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mainMenu {
  display: flex;
  gap: 250px;
}

.mainMenu li {
  position: relative;
}

.mainMenu a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.hoverMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: -6px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px 0;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
  border-radius: 20px;
}
.hoverMenuTour {
  display: none;
  position: absolute;
  top: 100%;
  left: -6px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px 0;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
  border-radius: 20px;
}

.hoverMenu ul li {
  padding: 8px 16px;
}

.hoverMenu ul li a {
  color: #333;
}

.hoverMenu ul li:hover {
  background-color: #f5f5f5;
  border-radius: 20px;
}

.aboutUs:hover .hoverMenu {
  display: block;
}

.hoverMenuTour ul li {
  padding: 8px 16px;
}

.hoverMenuTour ul li a {
  color: #333;
}

.hoverMenuTour ul li:hover {
  background-color: #f5f5f5;
  border-radius: 20px;
}

.tours:hover .hoverMenuTour {
  display: block;
}

.right {
  margin-left: 70px;
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.right img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.dropDownLanguage {
  display: flex;
  flex-direction: column;
}

.main {
  position: relative;
}

.main img {
  width: 100%;
  height: 100%;
}

.main p {
  position: absolute;
  top: 80%;
  left: 60%;
  color: white;
  font-size: 48px;
  font-weight: bold;
  width: 500px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f8fff8;
  height: 150px;
}

.info p {
  font-size: 28px;
  font-weight: bold;
}

.collage {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.info_collage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 20px;
}

.info_collage p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.info_collage img {
  width: 80%;
  height: 220px;
}
